@model library.book

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Book", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card mt-5">
        <div class="card-header text-center">
            <h4 class="card-title">CẬP NHẬT THÔNG TIN BOOK</h4>
        </div>

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.HiddenFor(model => model.idBook, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.idBook, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.category.nameCategory, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("fk_idCategory", null, "Select Book", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.category.nameCategory, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.bookshelf.nameBookshelfRow, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("fk_idBookshelf", null, "Select Book", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.bookshelf.nameBookshelfRow, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.titleBook, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.titleBook, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.titleBook, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.authorName, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.authorName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.authorName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.publisher, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.publisher, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.publisher, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.pubDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.pubDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.pubDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.reprintDate, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.reprintDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                        @Html.ValidationMessageFor(model => model.reprintDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.numberOfPages, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.numberOfPages, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.numberOfPages, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.bookLanguage, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.bookLanguage, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.bookLanguage, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.quantityTotal, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.quantityTotal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantityTotal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
