@model library.inventory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "Inventories", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="card mt-5">
        <div class="card-header">
            <h4 class="card-title">Create Inventory</h4>
        </div>

        <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <!--div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.idInventory, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.idInventory, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.idInventory, "", new { @class = "text-danger" })
                    </div>
                </!--div-->

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.book.titleBook, htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownList("fk_idBook", null, "Select Book", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.book.titleBook, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.quantity, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.quantity, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.remainingQuantity, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.remainingQuantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.remainingQuantity, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary ml-2" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
